@import "tailwindcss";

@theme {
  --color-darkgold: #d1ae6c;
  --color-gold: #f4c257;
}

html,
body {
  overflow-x: hidden; /* Evita rolagem horizontal */
  width: 100%;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #f4c257, 0 0 10px #f4c257, 0 0 20px #f4c257;
  }
  50% {
    box-shadow: 0 0 10px #f4c257, 0 0 20px #f4c257, 0 0 40px #f4c257;
  }
}

.container {
  max-width: 1380px; /* Ajuste esse valor conforme necessário */
  margin: 0 auto;
  padding: 20px; /* Pode ser ajustado conforme o design */
}

.glowing-hr {
  animation: glow 1.5s infinite alternate;
}

.bgcardorange{
  background:linear-gradient(45deg, #BB1900, #FD6F01, #FFB000);
}

.bgcardblue{
background: linear-gradient(258.26deg, #000016 29.73%, #120736 80.3%, #041753 102.5%);


}

.gradient-hr {
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
  background-size: 300% 100%;
  animation: gradient-shift 3s ease infinite;
}

a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

body {
  overflow-x: hidden;
}
